POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

PGBOUNCER_PORT=
DATABASE_URL=

# Django
DJANGO_DEBUG=
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=
DJANGO_SETTINGS_MODULE=



SECRET_KEY=


REDIS_URL=

EMAIL_USE_TLS=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""


AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_STORAGE_BUCKET_NAME=your-bucket-name
AWS_S3_REGION_NAME=eu-central-1
